name: deploy to firebase
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: check repo
        uses: actions/checkout@v2

      - name: set up Node.js 
        uses: actions/setup-node@v2
        with:
          node-version: '19'
      
      - name: install firebase tools
        run: npm install -g firebase-tools
      
      - name: deploy to firebase
        run: firebase deploy --only hosting --project ${{ secrets.PROJECT_ID }} --token ${{ secrets.ACCESS_TOKEN }}